/*PAG FAQS*/
.nav{
    ul{
        li{
            a{
                text-decoration: none;
                padding: 0 90px 0 90px;
            }
        }
    }
}
.header{
    .title{
            text-decoration: none;
    }
}